body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  color: brown;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
 color: chartreuse;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: bolder;
  text-align: center;
}

 .ui.inverted.button{
  margin-top: 0.5em;
  background-color: lightgrey;
  color: black;
} 
  
.log2{
  
  width: 252px;
  height: 294px;
  border-radius: 8px;
  margin-left: 15em;
}
.Memform1{
  width: 52em;
  height: auto;
  border-radius: 8px;
  background-color:white;
  
}
.label1{
  margin-top: 3em;
}








/*end home page styles*/

/* this is a test */
/* .nine.wide.column{
  margin-left: 10px;
} */
