body {
  background-color: rgb(234, 234, 234) !important;
}

/* .ui.inverted.top.fixed.menu {
  
}  */

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    135deg, rgba(112,14,22,1) 0%, 
    rgba(219,18,18,0.6867121848739496) 48%, 
    rgba(255,115,0,0.7987570028011204) 100%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
  
}

 .ui.inverted.button{
  margin-top: 0.5em;
  background-color: lightgrey;
  color: black;
} 
  
.log2{
  
  width: 252px;
  height: 294px;
  border-radius: 8px;
  margin-left: 15em;
  margin-bottom: 13.6em;
  margin-top: 8em;
}

.Memform1{

  background-color: white;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.ActivitySideBar2{
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 8px;
    margin-top: 20px;
    
}

/* Signature Canvas */

.signatureCanvas {
  flex-grow: 1;
}

.ui.compact.buttons.buttonGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



@media all and (max-width: 500px) {
  .signatureCanvas {
    min-width: 182px;
    min-height: 200px;
  }
}








/*end home page styles*/

/* this is a test */
/* .nine.wide.column{
  margin-left: 10px;
} */
